[mysqld]
bind-address = 0.0.0.0
wsrep_on = ON
wsrep_provider = /usr/lib/galera/libgalera_smm.so
wsrep_provider_options = "base_dir=/etc/mysql/data;evs.version=1;evs.auto_evict=10;gcache.size=1024M;gcache.dir=/etc/mysql"
wsrep_sst_method = rsync
max_connections = 200
default_storage_engine = innodb
binlog_format = row
innodb_autoinc_lock_mode = 2
innodb_flush_log_at_trx_commit = 0
query_cache_size = 0
query_cache_type = 0
datadir = /etc/mysql/data
user = root
