# Default haproxy configuration
{{ $ssl := getenv "HTTPS_REDIRECT" }}
{{ $url := getenv "RANCHER_URL" }}
{{ $leader := getv "/leader" }}

global
  log 127.0.0.1 local2
  debug
  maxconn 4096
  stats socket /var/run/haproxy.sock mode 777 level admin
  stats socket ipv4@0.0.0.0:9191 mode 777 level admin
  stats timeout 60s

defaults
  log global
  option log-health-checks
  option log-separate-errors
  option redispatch
  mode http
  timeout connect 5000
  timeout client  50000
  timeout server  50000

frontend www
  bind *:8881 accept-proxy
  bind *:8880
  option httplog

  capture request header Host len 64
  capture response header Content-Length len 64

  acl xff_exists hdr_cnt(X-Forwarded-For) gt 0
  acl is_health_check path /rancher-health
  acl is_proxy_https dst_port 443
  acl external {{ if $url }}hdr_end(host) -i {{ $url }}{{ else }}always_false{{ end }}
  acl force_ssl {{ if or (not $ssl) (eq $ssl "false") (eq $ssl "0") }}always_false {{ else }}always_true{{ end }}
  http-request add-header X-Forwarded-For %[src] unless xff_exists
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto https if is_proxy_https
  http-request add-header X-Forwarded-Proto http unless is_proxy_https
  redirect scheme https code 301 if !is_proxy_https !is_health_check external force_ssl

  monitor-uri /rancher-health
  acl unhealthy nbsrv(etcd-local) lt 1
  acl unhealthy nbsrv(mysql-local) lt 1
  monitor fail if unhealthy

  acl rancher_url hdr(host) -i {{ $url }}
  use_backend rancher if rancher_url

  acl haproxy_url hdr_end(host) -i haproxy.{{ $url }}
  use_backend stats if haproxy_url

  acl haproxy_path path /haproxy
  use_backend stats if haproxy_path

frontend galera
  bind *:3307
  mode tcp
  option tcplog
  default_backend mysql

backend etcd
  mode http
  option httpchk GET /health
  http-check expect status 200
  timeout check 2s
  default-server inter 3s fall 3 rise 2
  {{ if $leader }}server {{ $leader }} {{ $leader }}:2379{{ end }} check

backend mysql
  mode tcp
  timeout client 10800s
  timeout server 10800s
  option httpchk
  timeout check 2s
  default-server port 9200 inter 2s downinter 5s rise 3 fall 2 slowstart 60s maxconn 64 maxqueue 128 weight 100
  {{ if $leader }}server {{ $leader }} {{ $leader }}:3306{{ end }} check

backend rancher
  mode http
  option httpchk GET /ping
  http-check expect status 200
  timeout check 2s
  default-server inter 3s fall 3 rise 2
  {{ if $leader }}server {{ $leader }} {{ $leader }}:80{{ end }} check

backend etcd-local
  mode http
  option httpchk GET /health
  http-check expect status 200
  timeout check 2s
  default-server inter 3s fall 3 rise 2
  server local 127.0.0.1:2379 check

backend mysql-local
  mode tcp
  timeout client  10800s
  timeout server  10800s
  option httpchk
  timeout check 2s
  default-server port 9200 inter 2s downinter 5s rise 3 fall 2 slowstart 60s maxconn 64 maxqueue 128 weight 100
  server local 127.0.0.1:3306 check

backend rancher-local
  mode http
  option httpchk GET /ping
  http-check expect status 200
  timeout check 2s
  default-server inter 3s fall 3 rise 2
  server local 127.0.0.1:80 check

listen stats
  bind 0.0.0.0:9090
  mode http
  timeout client 5000
  timeout connect 4000
  timeout server 30000

  #This is the virtual URL to access the stats page
  stats uri /

  #This allows you to take down and bring up back end servers.
  #This will produce an error on older versions of HAProxy.
  stats admin if TRUE
