@font-face {
  font-family: 'Benton';
  font-path: 'fonts/BentonSans-Bold';
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Benton';
  font-path: 'fonts/BentonSans-Medium';
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Benton';
  font-path: 'fonts/BentonSans-Regular';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Benton';
  font-path: 'fonts/BentonSans-Book';
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: 'Benton';
  font-path: 'fonts/BentonSans-Light';
  font-weight: 300;
  font-style: normal;
}
